.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
   width: 2000px;
  height: 75px;
  margin-top: -25px;
  background-color: #ffa41e;
  text-align: left;
  font-size: 25px
 }

.Body {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}

.Button {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}
.Results {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
